.app-container {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  background-color: #020617; 
  min-height: 100vh;
}
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.dashboard-wrapper {
  display: flex;
}

.main-content {
  margin-left: 280px; 
  flex: 1;
  padding: 30px;
  color: white;
  transition: all 0.4s ease;
}

.content-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  border-bottom: 1px solid #1e293b;
  padding-bottom: 20px;
}

.user-profile {
  display: flex;
  align-items: center;
  gap: 10px;
}

.avatar {
  width: 40px;
  height: 40px;
  background-color: #38bdf8;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #020617;
  font-weight: bold;
}
.dashboard-layout {
  display: flex;
  min-height: 100vh;
  background-color: #020617;
}

.content {
  flex: 1;
  margin-left: 280px; /* Sidebar kengligi bilan bir xil bo'lishi shart */
  padding: 30px;
  color: white;
}

.app-container {
  width: 100%;
  height: 100vh;
}
.welcome-card {
  background: #1e293b;
  padding: 25px;
  border-radius: 12px;
  margin-bottom: 20px;
}

.stats-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.stat-item {
  background: #0f172a;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #1e293b;
  text-align: center;
}